WhisperiOS/Models/nexa/**/*.npy filter=lfs diff=lfs merge=lfs -text
WhisperiOS/Models/nexa/**/*.mlmodelc/** filter=lfs diff=lfs merge=lfs -text
WhisperiOS/Models/nexa/**/*.bin filter=lfs diff=lfs merge=lfs -text
WhisperiOS/Models/runanywhere/**/*.onnx filter=lfs diff=lfs merge=lfs -text
